$fuente: Arial,
Helvetica,
sans-serif;
body {
    font-family: $fuente;
    text-align: center;
}

#layout {
    border: 3px solid black;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    align-items: flex-end;
}

.caja {
    
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: white;
    padding: 20px;
    border: 4px solid #222;
    margin: 10px;
}

@mixin colorCaja($color) {
    
    background-color: $color;
}

.red {
    
    @include colorCaja(red);
}

.green {
    @include colorCaja(green)
}

.blue {
    @include colorCaja(blue)
}

.orange {
    @include colorCaja(orange)
}