* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    float: none;
    clear: both;
}

#container {
    width: 70%;
    background: red;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
    margin-bottom: 40px;
}

header {
    width: 100%;
    height: 150px;
    background: lightblue;
    color: #333;
    line-height: 50px;
    text-align: center;
}

aside {
    width: 25%;
    background: #ccc;
    float: left;
    min-height: 700px;
    text-align: center;
    line-height: 700px;
}

#articles {
    width: 75%;
    background-color: lemonchiffon;
    float: left;
    min-height: 700px;
}

#articles article {
    width: 20%;
    height: 150px;
    background: grey;
    color: white;
    line-height: 150px;
    text-align: 1px solid white;
    text-align: center;
    float: left;
    margin: 30px;
}


/* RESPONSIVE */

@media(max-width: 888px) {
    #articles article {
        width: 30%;
        background: red;
    }
}

@media(max-width:642px) {
    #articles article {
        width: 90%;
        background: brown;
        margin-left: 20px;
        margin-right: 20px;
    }
}