body{
    background: black;
    color: wheat;
}
#boton{
    display: block;
    padding: 20px;
    background-color: red;
    color: white;
    width: 150px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid black;
    transition: border 200ms;
}
#boton:hover{
    border-radius: 14px;
    background-color: brown;
    border: 5px solid green;
}
#caja{
    margin-top: 30px;
    width: 250px;
    height: 250px;
    background: orange;
    color: wheat;
    border: 6px solid white;
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    animation-name: desplasamiento;
    animation-duration: 10s;
    animation-timing-function: linear;
}

@keyframes desplasamiento{
    0%{
        margin-left: 0px;
        transform: rotate(0deg);
    }
    50%{
        margin-left: 1200px;
        transform: rotate(360deg);


    }
    100%{
        margin-right: 0px;
        transform: rotate(0deg);
    }
}